:root {
    --dimas: rgb(96, 130, 223);
    --divfive: rgb(116, 136, 201, 0.5);
    --white: rgb(255, 255, 255);
    --white2: rgb(219, 216, 216);
    --main: rgb(126, 188, 240);
    --grin: rgba(91, 228, 91, 0.5);
    --btn-code: rgba(19, 23, 48, 0.5);


    /* Новые цвета для блоков */
    --glass-white: rgba(255, 255, 255, 0.15);
    --glass-dark: rgba(20, 30, 60, 0.7);
    --glass-blue: rgba(65, 105, 225, 0.25);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: var(--main);*/
    background-image: url(./image/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.body-item:nth-child(2),
.body-item:nth-child(3),
.body-item:nth-child(4),
.body-item:nth-child(5) {

    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

body header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--dimas);
}

.navbar-logo {
    margin-right: auto;
}

.navbar-logo img {
    width: 150px;
}

.navbar-search {
    width: 500px;
}

.navbar-search input {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    width: 500px;
}

.navbar-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    gap: 10px;
}

.navbar-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.navbar-phone div {
    color: var(--white);
}

.number {
    margin-bottom: 5px;
}

.navbar-buttons button.icon-btn {
    background-color: transparent;
    color: var(--white);
    font-size: 25px;
    padding: 2px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.navbar-buttons button:hover {
    background-color: transparent;
    transform: scale(1.5) rotate(180deg);
    transition: transform 1s ease;
}

.number-phone:hover {
    transform: scale(1.5);
    transition: transform 1s ease;
}

/*********************************************************************************************/


.body-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto;
    gap: 10px 20px;
    padding: 10px 180px;
}


.body-item {
    border-radius: 10px;
}

.body-item:nth-child(1) {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 12px;
    font-style: oblique;
    gap: 7px;
    grid-column: 1 / 3;
    height: 30px;
    color: var(--white);
    margin-bottom: 30px;
}

.body-item-src:hover {
    cursor: pointer;
    color: var(--white2);
    transition: transform 0.5s ease;
}

/*********************************************************************************************/

.body-item:nth-child(2) {
    display: grid;
    /*background-color: var(--divfive);
    border: 2px solid black;*/
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.body-item-img {
    display: flex;
    justify-content: center;
}

.body-item-img-scroll{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

.body-item-img-scroll img {
    width: 150px;
}


/*********************************************************************************************/

.body-item:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    background-color: var(--divfive);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0px 10px;


}

.body-item:nth-child(3) .body-item-text:nth-child(1) {
    grid-column: 1 / 8;
    color: var(--white);
    font-family: Montserrat;
    font-size: 35px;
    font-weight: bold;
    /*padding: 5px 10px;*/
    display: flex;
    justify-content: start;
    align-items: center;
}

.body-item:nth-child(3) .body-item-text:nth-child(2) {
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.fa-star {
    color: var(--white);
}

.fa-star:hover {
    color: gold;
}

.body-item:nth-child(3) .body-item-text:nth-child(3) {
    grid-column: 2 / 3;
    font-family: Montserrat;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grin);
    cursor: pointer;
    text-decoration: underline;
    /*text-decoration-style: dotted;*/
}

.body-item:nth-child(3) .body-item-text:nth-child(3):hover {
    text-decoration: none;
}

.body-item:nth-child(3) .body-item-text:nth-child(4) {
    grid-column: 3 / 8;
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn-code {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--btn-code);
    border: none;
    cursor: pointer;
}

.body-item:nth-child(3) .body-item-text:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
}

.body-item:nth-child(3) .body-item-text:nth-child(6) {
    grid-column: 2 / 8;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
}

.body-item:nth-child(3) .body-item-text:nth-child(7) {
    grid-column: 1 / 8;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Montserrat;
    color: var(--white);
}

.body-item:nth-child(3) .body-item-text:nth-child(8) {
    grid-column: 1 / 8;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: start;

}

.btn-sale {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 2px;
    color: var(--white);
    background-color: rgba(33, 38, 72);
    border: none;
    cursor: pointer;
    border: 2px solid rgba(60, 75, 114);
    height: 45px;
    width: 100%;
    max-width: 150px;
}

.btn-sale:hover {
    border: 2px solid var(--grin);
}

.btn-sale-price {
    font-size: 20px;
}

.btn-sale-qty {
    color: rgb(173, 173, 171);
}


.body-item:nth-child(3) .body-item-text:nth-child(9) {
    grid-column: 1 / 8;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: start;
}

.btn-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--btn-code);
    border: none;
    cursor: pointer;
    height: 60px;
    width: 150px;
    max-width: 150px;
    background-color: green;

}

.btn-buy:hover {
    background-color: greenyellow;
    color: black;
}


/*********************************************************************************************/

.body-item:nth-child(4) {
    background-color: var(--divfive);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color: var(--white);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    height: 100px;
}

/*********************************************************************************************/
.body-item:nth-child(5) {
    background-color: var(--divfive);

    grid-column: 1 / 3;
    grid-row: 4 / 5;
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 20px;
    padding: 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.body-item:nth-child(5) div {
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.add-item:nth-child(1) {
    grid-column: 1 / 2;
    height: 50px;
    border-bottom: 2px solid rgb(146, 158, 199);
}

.add-item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 50px;
    border-bottom: 2px solid rgb(146, 158, 199);
}

.add-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 50px;
}

.add-item:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    border-left: 2px solid rgb(146, 158, 199);
    height: auto;
}

/*********************************************************************************************/
footer {
    width: 100%;
    height: 100px;
    background-color: rgba(38, 81, 183);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /*position: fixed;
    bottom: 0;*/
}