:root {
  --dimas: rgb(96, 130, 223);
  --botton: rgba(73, 183, 73);
  --white: white;
  /*--main: rgba(24, 24, 24);*/
  --main: rgb(126, 188, 240);
}


body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 50px;
  background-color: var(--dimas);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  /* rgb(126, 188, 240);*/
  position: sticky;
  top: 0;

}

.navbar-logo {
  margin-right: auto;
}

.navbar-logo img {
  width: 150px;
}

.navbar-search {
  width: 500px;
}

.navbar-search input {
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  width: 100%;
}

.navbar-buttons {
  display: flex;
  margin-left: 50px;
  gap: 10px;
}

.navbar-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.navbar-phone div {
  color: var(--white);
}

.number {
  margin-bottom: 5px;
}

.navbar-buttons button.icon-btn {
  background-color: transparent;
  color: var(--white);
  font-size: 25px;
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.navbar-buttons button:hover {
  background-color: transparent;
  transform: scale(1.5) rotate(180deg);
  transition: transform 1s ease;
}

.number-phone:hover {
  transform: scale(1.5);
  transition: transform 1s ease;
}


/********************************Body**************************************/

.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 50px;
  margin-right: 50px;
  /*border: 1px solid black;*/
}

.body-container-heder {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  height: 40px;
  gap: 20px;
}

.body-container-heder-left {
  padding: 20px;
  flex: 1;

}

.body-container-heder-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 4;
  padding: 20px;
  color: var(--white);
  background-color: var(--dimas);
  border-radius: 5px;
  gap: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.sort-popular {
  margin-left: 30px;
}

.body-container-heder-right div:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.body-container-left {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  padding: 20px;
  flex: 1;
  height: auto;
  background-color: var(--dimas);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.body-container-left hr {
  width: 100%;
  border: 1px solid var(--white);
  margin: 10px 0;
}

.price {
  width: 100%;
  color: var(--white);
}

.price-min {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 4px;
}

.price-max {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 4px;
}

.price-button {
  border-radius: 100px;
  border: none;
  width: 50px;
  height: 30px;
  background-color: var(--botton);
  color: var(--white);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.button-list {
  width: 100%;
  border: 0;
  background-color: transparent;
  color: var(--white);
  text-align: left;
  cursor: pointer;
}

.price-button:hover {
  background-color: rgb(39, 90, 39);
  transition: background-color 0.2s ease;
}

.body-container-main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  flex: 4;
  background-color: var(--main);
  border-radius: 5px;
  gap: 30px;
}

.main-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: calc((100% - 60px) / 3);
  border-radius: 5px;
  overflow: hidden;
  /*gap: 5px;*/
  background-color: var(--dimas);
  padding-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.main-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.main-item div {
  color: var(--white);
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.main-item-button {
  width: 120px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: var(--white);
  background-color: var(--botton);
}

.main-item-bug {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.main-item button {
  cursor: pointer;
}

.main-item-name {
  height: 50px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: rgb(38, 71, 163);
  margin-top: 20px;
}